rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userID}/{filename}{
      allow read : if request.auth.uid == userID;
      allow write :  if request.auth.uid == userID && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
